%h1 Pages#about
%p This application was developed by Solomon Antony 
%p Team members are : Solomon Antony
%p This application tracks Albums and Photos.  Each album has many photos and a photo belongs to an album

