%h1 Albums#index
%p Find me in app/views/albums/index.html.haml
%table#albums
  %thead
    %tr
      %th Album name
      %th Created on
      %th Photos
    %tbody
      -@albums.each do |album|
        %tr
          %td= album.name
          %td= album.created
          %td= link_to "More about #{album.name} album", album_path(album)
          
