%h2 Details about #{@album.name}
%ul#details
  %li
    Created:
    = @album.created
  %li
    Comments:
    =@album.comments
=link_to 'Edit album information', edit_album_path(@album)
=link_to 'Back to albums list', albums_path

