!!! 5
%html
  %head
    %title Albums and Photos
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    =link_to "Albums", albums_path
    =link_to "Solomon", "/www.google.com"
    =yield
    
