!!! 5
%html
  %head
    %title Albums and Photos
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #login
    -if user_signed_in?
      %p.welcome Signed in as #{current_user.email}.  Not you?
      =link_to 'Sign out', destroy_user_session_path, :method => :delete
    -else
      %p.login=link_to 'Sign up', new_user_registration_path
      =link_to 'Sign in', new_user_session_path
    =link_to "Home", home_path
    =link_to "About", about_path
    =link_to "Contact", contact_path
    =yield
    
